@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: #F2A0B6 ;
    --light-pink: #F2BBC9;
    --blue: #B8D5E3;
    --white: #F2F2F0;
    --yellow: #F2CDA0;
}

.delius-font {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
  }
  